<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.DigitalCampus"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="14" />

    <application
        android:name="com.example.DigitalCampus.MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/dc_logo"
        android:label="Digital Campus"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.DigitalCampus.activities.MenuPrincipalActivity"
            >
        </activity>
        <activity
            android:name="com.example.DigitalCampus.activities.SplashScreen"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.DigitalCampus.activities.Login"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen" >
        </activity>
        <activity android:name="com.example.DigitalCampus.activities.GestionarAsignaturasActivity" >
        </activity>
        <activity android:name="com.example.DigitalCampus.activities.InsertarAlumnoActivity"
                        android:parentActivityName="com.example.DigitalCampus.activities.MenuPrincipalActivity" >
             >
        </activity>
        <activity
            android:name="com.example.DigitalCampus.activities.InsertarAsignatura1Activity"
            
            android:parentActivityName="com.example.DigitalCampus.activities.MenuPrincipalActivity" >
        </activity>
        <activity
            android:name="com.example.DigitalCampus.activities.InsertarAsignatura2Activity"
            
            android:parentActivityName="com.example.DigitalCampus.activities.InsertarAsignatura1Activity" >
        </activity>
        <activity android:name="com.example.DigitalCampus.activities.AlumnosActivity" >
        </activity>
        <activity android:name="com.example.DigitalCampus.activities.ExamenesActivity" >
        </activity>
        <activity
            android:name="com.example.DigitalCampus.activities.InsertarAsignatura3Activity"
             >
        </activity>
        <activity
            android:name="com.example.DigitalCampus.activities.VerAsignaturaActivity"
             >
        </activity>
        <activity
            android:name="com.example.DigitalCampus.activities.GestionarAlumnosActivity"
            >
        </activity>
        <activity
            android:name="com.example.DigitalCampus.activities.NuevoAlumnoActivity"
             >
        </activity>
        <activity
            android:name="com.example.DigitalCampus.activities.VerAlumnoActivity"
            >
        </activity>
        <activity
            android:name="com.example.DigitalCampus.activities.ListadoExamenesActivity"
             >
        </activity>
        <activity
            android:name="com.example.DigitalCampus.activities.AltaEdicionExamenesActivity"
             >
        </activity>
        <activity
            android:name="com.example.DigitalCampus.activities.EdicionExamenesActivity"
             >
        </activity>
    </application>

</manifest>